<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:p="http://primefaces.org/ui">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    

    <title>Dashboard </title>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	
    <!-- Bootstrap core CSS -->
     <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/dist/css/bootstrap.min.css}" media="screen" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css}"  media="screen" rel="stylesheet"/>
    
    <!-- Custom styles for this template -->
    <link href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/examples/dashboard/dashboard.css}" rel="stylesheet"/>
    <script>
		$(document).ready(function() {
		var dataMensajes = $("#dataMensajes");
		
		var socket = new SockJS('/wsocket');

		var stompClient = Stomp.over(socket);

	    stompClient.connect({ }, function(frame) {
			stompClient.subscribe("/topic/mensajes", function(data) {
				var mensaje = JSON.parse(data.body);
					var htmlstring = `
					<tr>
						<td>${mensaje.message}</td>
					</tr>
					`;
					 dataMensajes.append(htmlstring);
			});
	    });
	});
	</script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/salir">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
     
	
	

	<hr/>
	
	<h1 class="page-header">Dashboard</h1>
   <div class="panel panel-default">
  <div class="panel-body">
  
  <div class="panel panel-default">
<!-- menu de navegacion -->
<nav class="navbar navbar-default">
<ul class="nav nav-pills">
  <li role="presentation" ><a href="/inicioDashboard"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Sugerencias</a></li>
  <li role="presentation" class="active"><a href="/consolaDashboard"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Consola</a></li>
</ul>
</nav>

	<div class="panel panel-danger">
	 <div class="panel-heading">Mensajes</div>
 <table id="dataMensajes">
   <tbody>
           <tr th:each="item,iterationStatus   : ${mensajes}">
               <td th:text="${item}"></td>
               </tr>
           </tbody>
 
	</table>
	<p/>
    <p/>
     <p/>
   
     
</div>
	  <a class="btn btn-primary" role="button" data-toggle="collapse" href="/limpiar" aria-expanded="false" aria-controls="collapseExample">
 		 Limpiar
	</a>
  </div>
	


</div>
</div>
  </body>
</html>


