<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:p="http://primefaces.org/ui">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    

    <title>Dashboard </title>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	
    <!-- Bootstrap core CSS -->
     <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/dist/css/bootstrap.min.css}" media="screen" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css}"  media="screen" rel="stylesheet"/>
    
    <!-- Custom styles for this template -->
    <link href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/examples/dashboard/dashboard.css}" rel="stylesheet"/>
  
    <script>
		$(document).ready(function() {
		var tabla = $("#tablaSug");
	
		
		var socket = new SockJS('/wsocket');

		var stompClient = Stomp.over(socket);
		var stompClientVotos = Stomp.over(socket);
		
	    stompClient.connect({ }, function(frame) {
			stompClient.subscribe("/topic/sugerencia", function(data) {
					var sugerencia = JSON.parse(data.body);
				var htmlstring = `
					<tr>
						<td align="center"> ${sugerencia.id}</td>
						<td align="center"> ${sugerencia.titulo}</td>
                 	 	<td align="center"> ${sugerencia.autor} </td>
                  		<td align="center"> ${sugerencia.pos}</td>
                   		<td align="center"> ${sugerencia.neg}</td>
					</tr>
					`;
					 
					 tabla.append(htmlstring);
			});
	    });
	
	     
	});
	</script>
	<style>
	 th {
		text-align: center;
	}
	</style>
	<script>
	$(document).ready(function() {
		var tabla = $("#tablaSug");
		var socket = new SockJS('/wsocket');

		var stompClient = Stomp.over(socket);
		
	    stompClient.connect({ }, function(frame) {
			stompClient.subscribe("/topic/voto", function(data) {
				window.location.reload();
					var voto = JSON.parse(data.body);
					$(".idSug").each(function(i) {
						if (this.innerHTML === voto.sugerenciaId) {
							if(voto.aFavor){
								$(this).next().next().next().html("" + (voto.nPositivos));
							}
							if(!voto.aFavor){
								$(this).next().next().next().next().html("" + (voto.nNegativos));
							}
						}
					});				
			});
	    });
	
	     
	});
	
	</script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/irAParticipationSystem">ParticipationSystem</a></li>
            <li><a id="salir" href="/salir">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
     
	
	

	<hr/>
	
	<h1 class="page-header">Dashboard</h1>
   <div class="panel panel-default">
  <div class="panel-body">
  

<!-- menu de navegacion -->
<nav class="navbar navbar-default">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/inicioDashboard"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Sugerencias</a></li>
  <li role="presentation"><a href="/consolaDashboard"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Consola</a></li>
</ul>
</nav>

          <h3 class="sub-header">Sugerencias</h3>
          
          <div class="table-responsive">
            <table id="tablaSug" class="table table-striped">
              <thead>
                <tr>
                  <th>#Id</th>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  Likes</th>
                  <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>  Dislikes</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item,iterationStatus   : ${sugerencias}">
                  <td class="idSug" th:text="${item.id}" align="center"></td>
                  <td th:text="${item.titulo}" align="center" ></td>
                  <td th:text="${item.citizen.usuario}" align="center"></td>
                  <td th:text="${item.getPosVotes()}" align="center"></td>
                  <td th:text="${item.getNegVotes()}" align="center"></td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>
</body>
</html>