<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
   <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta charset="utf-8"/> 
    <title>Informacion de ${user.nombre}</title>

    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/dist/css/bootstrap.min.css}" media="screen" rel="stylesheet"/>
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css}"  media="screen" rel="stylesheet"/>
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/examples/signin/signin.css}"  media="screen" rel="stylesheet"/>
	<!-- <script src="@{webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script> -->	
  </head>
<body>

<div class="page-header">
  <h1>	Ventana del ciudadano <small><span th:text="${user.nombre}"/></small></h1>
</div>

<!-- menu de navegacion -->
<nav class="navbar navbar-default">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Informacion</a></li>
  <li role="presentation"><a href="/cambiarE"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Cambiar email</a></li>
  <li role="presentation"><a href="/cambiarP"><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> Cambiar contraseña</a></li>
  <li role="presentation"><a href="/salir"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar sesion</a></li>
</ul>
</nav>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
  <!-- List group -->
  	 <td colspan="5" align="center"><h2> Informacion personal de <span th:text="${user.usuario}"/></h2></td>
  	 
<!-- <table border="0.5">
		<tr>
			<td>	<h4>Nombre y apellidos:	</h4><span th:text="${user.nombre}"/> <span th:text="${user.apellidos}"/></td>
		</tr>
		<tr>
			<td>	DNI:	<span th:text="${user.DNI}"/></td> 
		</tr>
		<tr>
			<td>	Email:	<span th:text="${user.email}"/>   </td> 
		</tr>
		<tr>
			<td>	Fecha de nacimiento: <span th:text="${user.fechaNacimiento}"/></td>
		</tr>
		<tr>
			<td>	Direccion:  <span th:text="${user.direccion}"/></td>
		</tr>
		<tr>
			<td>	Nacionalidad:  <span th:text="${user.nacionalidad}"/></td>
		</tr>
		
	</table> -->
	
	
	<ul class="list-group">
  <li class="list-group-item"><h4>Nombre:</h4>	<span th:text="${user.nombre}"/> <span th:text="${user.apellidos}"/></li>
  <li class="list-group-item"><h4>DNI:</h4>	<span th:text="${user.DNI}"/></li>
  <li class="list-group-item"><h4>Email:</h4>	<span th:text="${user.email}"/></li>
  <li class="list-group-item"><h4>Fecha de nacimiento:</h4>	<span th:text="${user.fechaNacimiento}"/></li>
  <li class="list-group-item"><h4>Direccion:</h4>	<span th:text="${user.direccion}"/></li>
  <li class="list-group-item"><h4>Nacionalidad:</h4>	<span th:text="${user.nacionalidad}"/></li>
</ul>
	</div>
</div>




	
</body>
</html>